<mat-toolbar color="primary">
  <button class="navbar-logo" mat-icon-button routerLink="/home">
    <img [ngSrc]="'assets/logo.png'" alt="" height="512" width="512" priority="high"/>
  </button>

  <span class="navbar-title">eLibrary</span>

<!--  <button class="navbar-button" mat-button [matMenuTriggerFor]="menu" style="margin-top: 3px">-->
<!--    <mat-icon class="navbar-logo" iconPositionEnd>arrow_drop_down</mat-icon>-->
<!--    Discover-->
<!--  </button>-->

<!--  <mat-menu #menu="matMenu" class="mat-elevation-z1">-->
<!--    <button mat-menu-item>Adventure</button>-->
<!--    <button mat-menu-item></button>-->
<!--  </mat-menu>-->

  <div class="search">
    <input type="text" placeholder="Search" required [(ngModel)]="txtSearch">
    <button (click)="search()">
      <mat-icon>search</mat-icon>
    </button>
  </div>

  <span class="navbar-spacer"></span>

  <button class="navbar-button" (click)="openDialog()">
    <mat-icon>person</mat-icon>
    Sign in
  </button>
</mat-toolbar>
