@import "../../../colors";

.navbar-spacer {
  flex: 1 1 auto;
}

.navbar-title {
  margin: 0 1.5vw 0 6px;
  font-size: 1.8em;
  pointer-events: none;
}

.navbar-logo {
  transform: scale(1.5);
}

.mat-toolbar {
  min-height: 60px !important;
  height: 60px !important;
}

.navbar-button {
  font-size: 1em;
  cursor: pointer;
  color: $faded-white;
}

.navbar-button:last-of-type {
  display: flex;
  align-items: center;
  background-color: transparent;
  border: 1px solid $faded-grey-outline;
  border-radius: 4px;
  padding: 5px 10px;

  mat-icon {
    margin-right: 3px;
  }
}

.navbar-button:last-of-type:active {
  background-color: white;
  color: $matte-black;
}

.search {
  display: flex;
  height: 60%;

  input {
    border-radius: 4px 0 0 4px;
    margin-left: 1.5vw;
    padding: 3px 10px;
    background-color: rgba(255, 255, 255, 0.02);
    border: 1px solid $faded-grey-outline;
    border-right: none;
    outline: none;
    font-size: 0.9em;
    color: white;
  }

  button {
    color: white;
    border-radius: 0 4px 4px 0;
    background-color: $teal-green;
    border: 1px solid $faded-grey-outline;
    border-left: none;
    cursor: pointer;
  }

  button:active {
    background-color: white;
    color: $matte-black;
  }
}

.search:focus-within {

  input {
    border-color: white;
  }

  button {
    border-color: white;
  }
}
