$matte-black: #121619;
$faded-black: rgba(0, 0, 0, 0.87);
$warn: #dc3636;
$faded-white: rgba(255, 255, 255, 0.86);
$faded-grey-outline: rgba(255, 255, 255, 0.24);
$grey-background: rgba(189, 189, 189, 0.45);
$teal-green: #39a28c;
