@import "../../../colors";

.form-group {
  width: 18vw;
  padding: 20px;
  border-radius: 4px;

  h2 {
    margin-bottom: 0;
    font-weight: 500;
    font-size: 1.8em;
  }

  p {
    color: $faded-black;
    margin-top: 10px;
    margin-bottom: 30px;

    a {
      color: $teal-green;
      font-weight: 500;
    }
  }

  mat-form-field {
    width: 100%;
  }

  button {
    width: 100%;
    height: 5vh;
    font-size: 1em;
    margin: 20px 0;
  }

  mat-spinner {
    transform: scale(0.4);
    margin: auto;
  }

  .checkbox {
    transform: scale(1.4);
    margin-right: 10px;
  }

  mat-label:last-child {
    display: flex;
    width: 93%;
    border: 1px solid $warn;
    padding: 10px;
    color: $warn;
    border-radius: 4px;
    align-items: center;

    mat-icon {
      margin: 0 10px 0 0 ;
    }
  }
}
