@import "../../../colors";

.banner-container {
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;

  .banner {
    min-height: 300px;
    height: 36vh;
  }

  .banner-text {
    width: 45vw;
    position: absolute;
    text-align: center;
    text-shadow: 0 2px $matte-black;

    h1 {
      font-size: 3.5em;
      color: white;
      mix-blend-mode: difference;
    }

    p {
      font-size: 1.4em;
      color: white;
    }
  }
}

.card-container {
  margin: auto;
  padding: 0 4vw;

  .header-topic {
    margin-top: 6vh;

    .title {
      display: flex;
      align-items: center;

      button {
        margin-left: 10px;
        background-color: $grey-background;
        transform: scale(0.9);
      }
    }
  }

  .search {
    margin-top: 0.7vh;
    margin-left: auto;
  }


  .mat-grid-list{
    margin-top: 3vh;

    .mat-grid-tile {
      border-radius: 4px;

      img {
        width: 100%;
        height: 100%;
        cursor: pointer;
      }

      img:hover {
        transform: scale(1.05);
        transition: transform .2s;
      }
    }
  }

  mat-spinner {
    transform: scale(0.5);
    margin: 0 auto;
  }
}

.error{
  font-size: 1.2em;
  color: $warn;
  display: flex;
  width: 100%;
  height: 40%;
  justify-content: center;
  align-items: center;

  mat-icon {
    margin-right: 10px;
    transform: scale(1.2);
  }
}
