<div class="banner-container">
  <div class="banner">
    <img [ngSrc]="'assets/covers.jpg'" height="769" width="1951" alt="banner" priority="high">
  </div>

  <div class="banner-text">
    <h1>Lots of E-Books 100% Free</h1>
    <p>Everything you need for better future and success has already been written. And guess what? All you have to do is go to the library.</p>
  </div>
</div>

<div class="card-container">
  <div class="header-topic">
    <div class="title">
      <h2>Browse Books</h2>

      <button mat-icon-button>
        <mat-icon>arrow_forward</mat-icon>
      </button>
    </div>
  </div>

  <mat-grid-list cols="7" rowHeight="0.7:1" gutterSize="30px">
    <mat-grid-tile class="mat-elevation-z9" *ngFor="let book of bookList">
      <img [src]="'data:image/jpeg;base64,'+book.coverImage" alt="cover_img"/>
    </mat-grid-tile>
  </mat-grid-list>
</div>
