@use '@angular/material' as mat;
@include mat.core();

$E-Library-Frontend-primary: mat.define-palette(mat.$grey-palette, 900);
$E-Library-Frontend-accent: mat.define-palette(mat.$teal-palette, 500);
$E-Library-Frontend-warn: mat.define-palette(mat.$red-palette);

$E-Library-Frontend-theme: mat.define-light-theme((
  color: (
    primary: $E-Library-Frontend-primary,
    accent: $E-Library-Frontend-accent,
    warn: $E-Library-Frontend-warn,
  )
));

@include mat.all-component-themes($E-Library-Frontend-theme);

html, body { height: 100%; }
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: rgb(241, 241, 241);
}
